{% extends "market/base_header_plain.html" %}

{% block content %}
<div class="row">
    <div class="col-8 mx-auto">
            <p class="text-success">Реєстрація пройшла успішно</p>
            <p>
                Залишилося лише підтвердити обліковий запис. Ми надіслали подальші інструкції з реєстрації на вказану вами Email-адресу.
            </p>
            <a href="/">
                <button class="btn">Поверніться на Ковальництво</button>
            </a>
    </div>
</div>
{% endblock %}