{% extends "market/base_header_plain.html" %}

{% block css %}
input {
    max-width: 420px;
}
{% endblock %}

{% block content %}
<div class="text-danger py-2" id="information-fail">
<p>{{ form.new_password1.errors }}</p>
<p>{{ form.new_password2.errors }}</p>
</div>

<div class="row">
    <div class="col-12">
        {% if validlink %}
        <h2>
Введіть новий пароль:</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_password1">
Новий пароль:</label>
                <input type="password" name="new_password1" class="form-control" id="input_password1" placeholder="Введіть пароль">
            </div>
            <div class="form-group">
                    <label for="input_password2">
Новий пароль ще раз:</label>
                    <input type="password" name="new_password2" class="form-control" id="input_password2" placeholder="Повторіть пароль">
            </div>
            <button type="submit" class="btn btn-primary">Зберегти новий пароль</button>
        </form>
        {% else %}
        <p class="text-danger">Неправильне посилання на скидання пароля, можливо, цим посиланням вже хтось скористався.</p>
        {% endif %}
    </div>
</div>
{% endblock %}