{% extends "market/base_header_no_search.html" %}

{% block css %}
ul {
    list-style-type: none;
}
input, button, li, p {
    max-width: 420px;
}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-12">
            <ul class="text-danger px-0">
                    {% for error in form.non_field_errors %}
                    <li>{{ error | escape }}</li>
                    {% endfor %}
            </ul>
        </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Изменить пароль:</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Старий пароль:</label>
                <input type="password" name="old_password" class="form-control" id="old_password">
                <ul class="text-danger px-0">
                        {% for error in form.old_password.errors %}
                        <li>{{ error | escape }}</li>
                        {% endfor %}
                </ul>
            </div>
            <div class="form-group">
                    <label for="new_password1">Новий пароль:</label>
                    <input type="password" name="new_password1" class="form-control" id="new_password1">
                    <ul class="text-danger px-0">
                            {% for error in form.new_password1.errors %}
                            <li>{{ error | escape }}</li>
                            {% endfor %}
                    </ul>
            </div>
            <div class="form-group">
                    <label for="new_password2">Повторіть вище введений пароль:</label>
                    <input type="password" name="new_password2" class="form-control" id="new_password2">
                    <ul class="text-danger px-0">
                            {% for error in form.new_password2.errors %}
                            <li>{{ error | escape }}</li>
                            {% endfor %}
                    </ul>
            </div>
            <button type="submit" class="btn btn-primary">Змінити пароль</button>
        </form>
    </div>
</div>
{% endblock %}