{% extends "market/base_header_plain.html" %}

{% block css %}
input {
    max-width: 420px;
}
{% endblock %}

{% block content %}
<div class="text-danger py-2" id="information-fail">
{% if form.email.errors %}
Користувача з таким Email немає на даному сайті{% endif %}
</div>
<div class="row">
    <div class="col-12">
        <h2>Скинути пароль:</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_email">Email:</label>
                <input type="email" name="email" class="form-control" id="input_email" placeholder="Вхід Email">
            </div>
            <button type="submit" class="btn btn-primary">Скинути пароль</button>
        </form>
    </div>
</div>
{% endblock %}